.navbar{
    position: absolute; /* Sử dụng position là absolute */
    top: 0; /* Đặt navbar ở đầu trang */
    left: 0; /* Đặt navbar từ bên trái */
    width: 200px;
    height: 100vh;
    background-color:#0e86cc;
    display: flex;
    flex-direction: column;
    z-index:2;
    border-radius: 4px;
    box-shadow: 10px 0 15px rgba(0,0,0,0.1);
}
/* #00405d */
.navbar ul{
    list-style: none;
    width: 200px;
}

.navbar li{
    padding: 15px 20px;
    display: block;
    width: 95%;
    font-size: 11px;
    border-bottom: 1px solid #fff;
    margin: 0 5px;
}

.navbar li a{
    text-decoration: none;
    color:#fff;
    display: block;
    box-sizing: border-box;
}

.navbar_image{
    display: flex;
    justify-content: center;
    margin:10px 0 10px 0;
}

.navbar li:hover{
    background-color: gray;
    border-radius: 5px;
   
}

.active {
    background-color: #e0e0e0; /* Màu nền khi được chọn */
    
    border-radius: 5px ;
}



li.active a {
    
    color:#0056b3 /* Màu chữ khi active */
}