.article {
    color: #000;
    background-color: #fff;
    padding: 10px;
   height: 85vh;
   margin:10px 10px 0 10px;
    overflow-x: auto; 
    box-shadow: 0 26px 42px rgba(56, 13, 123, 0.1);
    
}

.article_button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.article_button_search{
    display: flex;
    align-items: center;
}

.article_button_search input{
    margin-right: 5px;
    height: 25px;
    background-color: #eee;
    color: #000;
    
}

.article_button_search button{
    width: 30px;
    height: 30px;
}

.article_button_add button{
    background-color: #4CAF50;
    border: none;
    padding: 10px 15px;
    margin: 0 5px;
    border-radius: 4px;
    cursor: pointer;
}

.article_button_add button:hover{
    background-color: #2b822d;
}

.article table {
    border-collapse: collapse;
    height: 50px;
    width: 100%;
    text-align: center;
    font-size: 12px;
 /* Để bảng co giãn theo nội dung */
}

.article table th, 
.article table td {
    border: 1px solid #000; /* Đường viền cho các ô */
    padding: 8px; /* Khoảng cách giữa nội dung và đường viền */
    
}

.article table th{
    background-color: #95A5A6;
  }
 
 .article table tr:nth-child(even) {            /* added all even rows a #eee color  */
     background-color: #eee;     }
  
 .article table tr:nth-child(odd) {            /* added all odd rows a #fff color  */
 background-color:#fff;      }

 .button_update_delete button{
    margin:5px;
    height: 30px;
    width: 50px;
 }

 .button_delete{
    background-color: #F44336;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 0 5px;
    border-radius: 4px;
    cursor: pointer;
 }

.button_delete:hover{
  background-color: #91170e;
}

 .button_update{
    background-color:  #007BFF;
 }

 .form_add_salary{
    display: grid;
    gap: 20px;
  }

.form_title{
    text-align: center;
}
 
 .form_add_salary input{
     background-color: #f1f1f1;  
     color: #000;
     width: 100%;  
     height: 10px;
     padding: 16px 16px;  
     border: none;  
     border-radius: 4px; 
 }
 
 .form_add_salary select { 
     width: 100%;  
     padding: 16px 16px;  
     border: none;  
     border-radius: 4px; 
      background-color: #f1f1f1;
      color:#000;
    }
 
  .form_add_salary_button{
    display: flex;
    justify-content: center;
  }
 
  .form_add_salary_button button{
    margin:10px;
    height: 30px;
    width: 50px;
  }

  .pagination {
    text-align: center;
    margin-top: 10px;
  }
  
  .pagination button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 0 5px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .pagination button:hover {
    background-color: #0056b3;
  }
  
  .pagination .active {
    background-color: #0056b3;
    font-weight: bold;
  }

  
  .btnAdd{
    background-color: #007bff;
    color: white;
    border: none;
    margin: 0 5px;
    border-radius: 4px;
    cursor: pointer;
  }

  .btnAdd:hover{
    background-color: #0056b3;
  }

  .btnCancel{
    background-color: crimson;
    color: white;
    border: none;
    margin: 0 5px;
    border-radius: 4px;
    cursor: pointer;
  }

  .btnCancel:hover{
    background-color: rgb(146, 16, 42);
  }