.container{
    display: flex;
    flex-direction: column;
    height: 100vh; 
    position: relative;
}

.maincontainer{
    position:absolute;
    top:0;
    left:200px;
    height: 100%;
    width: calc(100% - 200px);
    background-color: #318656;
}

.header{
    background-color: #343a40;
    color:#fff;
    padding:20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.header h1{
    margin:0;
}

.navbar{
    position: absolute; /* Sử dụng position là absolute */
    top: 0; /* Đặt navbar ở đầu trang */
    left: 0; /* Đặt navbar từ bên trái */
    width: 200px;
    height: 100vh;
    background-color:#dee2e6;
    display: flex;
    flex-direction: column;
    z-index:2;
}

.navbar ul{
    list-style: none;
    width: 200px;
}

.navbar li{
    padding: 20px 25px;
    display: block;
    width: 100%;
}

.navbar li a{
    text-decoration: none;
    color:#000;
    display: block;
    box-sizing: border-box;
}

.navbar li:hover{
    background-color: #318656;
}

.article {
    color:#000;
    background-color: #f1f2f3;
    padding: 20px;
    height: 100%;
    position:fixed;
}

.article .btn_add_emp{
    margin-bottom: 10px;
}

.article table {
    margin-left: auto; /* Đẩy bảng về phía bên phải */
    border-collapse: collapse;
    
 /* Để bảng co giãn theo nội dung */
}

.article table th, 
.article table td {
    border: 1px solid #000; /* Đường viền cho các ô */
    padding: 8px; /* Khoảng cách giữa nội dung và đường viền */
    width: 150px;

}

.article table .btn{
    display: flex;
    justify-content: space-between;
}

.article table a{
    cursor: pointer;
}
    

