.header{
  background-color: #0987d1;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 100%; */
  margin: 2px 5px 0 5px;
  border-radius: 4px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);;
}

.option_title{
  display: flex;
  align-items: center;
}
/* #00263d */
.header .btn_logout{
   background:linear-gradient(-45deg,blue,red);
}

.header h5{
  margin-right: 20px;
}

.avatar {
   vertical-align: middle;
   width: 30px;
   height: 30px;
   border-radius: 50%;
   margin-right: 10px;
   position: relative;
   cursor: pointer;
 }

 .dropdownMenu {
   position: absolute;
   top: 60px; /* Adjust based on your header height */
   right: 12px;
   color: #000;
   background-color: white;
   border: 1px solid #ccc;
   border-radius: 5px;
   list-style-type: none;
   padding: 10px 0;
   margin: 0;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 }

 .dropdownMenu::before{
    content:"";
    border-style: solid;
    border-width: 20px 26px;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    right:11px;
    top:-30px;
    cursor: pointer;
}

.dropdownMenu::after{
    content: "";
    display: block;
    position: absolute;
    right:0;
    top:-16px;
    width:90px;
    height: 20px;
   
}
 
 .dropdownMenu li {
   padding: 10px 20px;
   cursor: pointer;
 }
 
 .dropdownMenu li:hover {
   background-color: #f0f0f0;
 }

 /* Container cho modal chi tiết nhân viên */
/* Container cho modal chi tiết nhân viên */
.employeeDetails {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Hai cột với kích thước bằng nhau */
  gap: 1em; /* Khoảng cách giữa các ô */
  font-size: 12px;
 
}

/* Nhóm form để các trường nằm cùng nhau */
.formGroup {
  display: flex;
  flex-direction: column;
}

/* Style cho các trường đầu vào */
.input {
  width: 100%;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  color: #000;
  font-size: 14px;
  box-sizing: border-box; /* Đảm bảo padding và border nằm trong kích thước tổng cộng của phần tử */
}

/* Style cho nhãn */
.formGroup label {
  font-weight: bold;
  margin-bottom: 0.5em;
}

/* Style cho tiêu đề modal */
.customSwalTitle {
  font-size: 1.5em;
  margin-bottom: 1em;
}

/* Custom popup của SweetAlert */
.customSwalPopup {
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
