.article {
    color: #000;
    background-color: #fff;
    padding: 10px;
   height: 50%;
   margin:10px 10px 0 10px;
    overflow-x: auto; 
    box-shadow: 0 26px 42px rgba(56, 13, 123, 0.1);
}
.btn_add_emp{
    height: 30px;
    margin: 10px 0px 20px 10px;
    background:linear-gradient(-45deg,blue,red);
}



.article table {
   white-space: nowrap;
    border-collapse: collapse;
    height: 100px;
    text-align: center;
    overflow-x: scroll;
    
 /* Để bảng co giãn theo nội dung */
}

.article table th, 
.article table td {
    border: 1px solid #000; /* Đường viền cho các ô */
    padding: 8px; /* Khoảng cách giữa nội dung và đường viền */
    
}

.article table .btn{
    display: flex;
    justify-content: space-between;
}

.article table a{
    cursor: pointer;
}
 



.form_add_emp h2{
    text-align: center;
    color: #20B2AA;
}

.form_add_emp input{
    background-color: #fff;
    color:#000;
    border:1px solid #000;
}


.form_group{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px 0 10px 0;
}

.form_group input[type="text"], .form_group input[type="email"]{
    height: 25px;
    border-radius:5px;
}

.form_group_button{
    display: flex;
    justify-content: center;
}

.form_group_button button{
    margin:20px;
    width: 70px;
    height: 25px;
}

.btn_submit{
    background-color: blue;
}

.btn_cancel{
    background-color: greenyellow;
}