.container{
    display: flex;
    flex-direction: column;
    height: 100vh; 
}

.header{
    position: relative;
    background-color: crimson;
    color:#fff;
    padding:20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index:1;
}

.header h1{
    margin:0;
}

.navbar{
    position: absolute; /* Sử dụng position là absolute */
    top: 0; /* Đặt navbar ở đầu trang */
    left: 0; /* Đặt navbar từ bên trái */
    width: 250px;
    height: 100vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    z-index:2;
}

.navbar ul{
    list-style: none;
    width: 250px;
}

.navbar li{
    padding: 20px 25px;
    display: block;
    width: 100%;
}

.navbar li a{
    text-decoration: none;
    color:#000;
    display: block;
    box-sizing: border-box;
}

.navbar li:hover{
    background-color: #318656;
}

.article{
    flex: 1;
    background-color: #315c86;
    padding: 20px;
}